
#运行环境
java:/home/zhangkun/bin/DSBS/software/jdk1.8.0_171/bin/java:soft
#java1.6:/usr/bin/java:soft
java1.6:/home/zhangkun/bin/DSBS/software/jdk1.7.0_45/bin/java:soft
python3:/usr/bin/python3:soft


fastqc:/home/zhangkun/bin/DSBS/software/FastQC/fastqc:soft
qualimap:/home/zhangkun/bin/DSBS/software/qualimap_v2.2.1/qualimap:soft


#clean,rmdup
fastuniq:/home/zhangkun/bin/DSBS/software/FastUniq/source/fastuniq:soft
cutadapt:/home/zhangkun/bin/DSBS/software/cutadapt-1.8.1/bin/cutadapt:soft
filter_fq:/home/zhangkun/bin/DSBS/src/filter_fq.py:soft

stdmap_awk:/home/zhangkun/bin/DSBS/src/stdmap.awk:soft
diffmap_awk:/home/zhangkun/bin/DSBS/src/diffmap.awk:soft


bsmap:/home/zhangkun/bin/DSBS/software/bsmap2.74//bsmap:soft
#bissnp:/home/zhangkun/bin/DSBS/software/BisSNP-1.0.0.jar:soft
bissnp:/home/zhangkun/bin/DSBS/software/BisSNP-0.82.2.jar:soft

#qsub
job_sub_py_2:/home/zhangkun/bin/DSBS/src/job_sub_py_2.py:soft

#index, sort, merge, split 
samtools:/home/zhangkun/bin/DSBS/software/samtools-1.8/samtools:soft
picard:/home/zhangkun/bin/DSBS/software/picard-2.17.3/picard.jar:soft


DSBS:/home/zhangkun/bin/DSBS/src/DSBS.py:soft

refDir:/home/zhangkun/bin/DSBS/database/hg19/Genome:resource
ref:/home/zhangkun/bin/DSBS/database/hg19/Genome/ucsc.hg19.fasta:resource
1000G_omni:/home/zhangkun/bin/DSBS/database/hg19/GATK/1000G_omni2.5.hg19.sites.vcf:resource
1000G_phase1:/home/zhangkun/bin/DSBS/database/hg19/GATK/1000G_phase1.snps.high_confidence.hg19.sites.vcf:resource
dbsnp:/home/zhangkun/bin/DSBS/database/hg19/GATK/dbsnp_138.hg19.vcf:resource
dbsnp_gz:/home/zhangkun/bin/DSBS/database/hg19/GATK/dbsnp_138.hg19.vcf.gz:resource
hapmap:/home/zhangkun/bin/DSBS/database/hg19/GATK/hapmap_3.3.hg19.sites.vcf:resource
